:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #242424;
    background-color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

input{

        display: flex;
        border-radius: 4px;
            width: 272px;
            height: 40px; background: #fff;
            font-family: "Montserrat", sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.04em;
                color: #2e2f42;
}

button{
    font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
    border-radius: 8px;
        padding: 8px 16px;
        width: 75px;
        height: 40px;
            border: none;
            display: flex;
            background: #4e75ff;
            font-family: "Montserrat", sans-serif;
                font-weight: 500;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.04em;
                color: #fff;
      
}

button:hover{border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
background: #6c8cff;}
button:disabled{
    border-radius: 8px;
        padding: 8px 16px;
        width: 75px;
        height: 40px;
        background: #cfcfcf;
}
.btn-input{
   display: flex;
   gap:8px
}
.timer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 40px;
        line-height: 1.2;
        letter-spacing: 0.04em;
        color: #2e2f42;
        width: 346px;
            height: 72px;
            gap: 24px;
}
.field{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 0px 24px;

}
.label{
    font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #2e2f42;
        align-items: center;
}
.value{
    font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 40px;
        line-height: 1.2;
        letter-spacing: 0.04em;
        color: #2e2f42;
}